<!DOCTYPE html>
<html lang="en">
  <%- include ('./component/headComponent') %>
  <body>
    <!-- ======= Header ======= -->
    <%- include ('./component/navDashboard') %>
    <!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <%- include ('./component/sidebarComponent') %>
    <!-- End Sidebar-->

    <main id="main" class="main">
      <div class="pagetitle">
        <h1>Profile</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">Users</li>
            <li class="breadcrumb-item active">Profile</li>
          </ol>
        </nav>
      </div>
      <!-- End Page Title -->

      <section class="section profile">
        <div class="row">
          <div class="col-xl-4">
            <div class="card">
              <div
                class="card-body profile-card pt-4 d-flex flex-column align-items-center"
              >
              <% if (user.userprofile){ %>
                <img
                  class="user-profile "
                  src="/uploads/<%= user.userprofile %>"
                  alt="Profile"
                  
                />
                <% }else { %>
                <img
                  class="user-profile rounded-circle"
                  src="assets/img/userprofile.png"
                  alt="Profile"
                />
                <% } %>
                <h2><%= user.prenom %> <%= user.nom %></h2>
                <h3>Web Designer</h3>
                <div class="social-links mt-2">
                  <a href="<%= user.twitter %>" class="twitter"><i class="bi bi-twitter"></i></a>
                  <a href="<%= user.facebook %>" class="facebook"
                    ><i class="bi bi-facebook"></i
                  ></a>
                  <a href="<%= user.instagram %>" class="instagram">
                    <i class="bi bi-instagram"></i>
                  </a>
                  <a href="<%= user.linkedin %>" class="linkedin"
                    ><i class="bi bi-linkedin"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-8">
            <div class="card">
              <div class="card-body pt-3">
                <!-- Bordered Tabs -->
                <ul class="nav nav-tabs nav-tabs-bordered">
                  <li class="nav-item">
                    <button
                      class="nav-link active"
                      data-bs-toggle="tab"
                      data-bs-target="#profile-overview"
                    >
                      Overview
                    </button>
                  </li>

                  <li class="nav-item">
                    <button
                      class="nav-link"
                      data-bs-toggle="tab"
                      data-bs-target="#profile-edit"
                    >
                      Edit Profile
                    </button>
                  </li>

                  <li class="nav-item">
                    <button
                      class="nav-link"
                      data-bs-toggle="tab"
                      data-bs-target="#profile-change-password"
                    >
                      Change Password
                    </button>
                  </li>
                </ul>
                <div class="tab-content pt-2">
                  <div
                    class="tab-pane fade show active profile-overview"
                    id="profile-overview"
                  >
                    <h5 class="card-title">Profile Details</h5>

                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">Nom complet</div>
                      <div class="col-lg-9 col-md-8">
                        <%= user.prenom %> <%= user.nom %>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">Proffesion</div>
                      <div class="col-lg-9 col-md-8">Web Designer</div>
                    </div>

                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">Pays</div>
                      <div class="col-lg-9 col-md-8"><%= user.country %></div>
                    </div>

                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">Adresse</div>
                      <div class="col-lg-9 col-md-8">
                        <%= user.address %>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">Telephone</div>
                      <div class="col-lg-9 col-md-8"><%= user.phone %></div>
                    </div>

                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">Email</div>
                      <div class="col-lg-9 col-md-8"><%= user.email %></div>
                    </div>
                  </div>

                  <div
                    class="tab-pane fade profile-edit pt-3"
                    id="profile-edit"
                  >
                    <!-- Profile Edit Form -->
                    <form
                      action="/userProfileEdit"
                      method="post"
                      enctype="multipart/form-data"
                    >
                      <div class="row mb-3">
                        <label
                          for="profileImage"
                          class="col-md-4 col-lg-3 col-form-label"
                          >Profile Image</label
                        >
                        <div class="col-md-8 col-lg-9">
                          <% if (user.userprofile){ %>
                          <img
                            class="user-profile rounded-circle"
                            src="<%='http://localhost:3000/'+user.userprofile %>"
                            alt="Profile"
                          />
                          <% }else { %>
                          <img
                            class="user-profile"
                            src="assets/img/userprofile.png"
                            alt="Profile"
                          />
                          <% } %>
                          <div class="pt-2">
                            <a
                              class="btn btn-primary btn-sm uploadProfile"
                              title="Upload new profile image"
                            >
                              <input
                                type="file"
                                name="userprofile"
                                class="userProfileInput"
                              />
                              <i class="bi bi-upload"></i>
                            </a>
                            <a
                              href="#"
                              class="btn btn-danger btn-sm"
                              title="Remove my profile image"
                              ><i class="bi bi-trash"></i
                            ></a>
                          </div>
                        </div>
                      </div>

                      <div class="row mb-3">
                        <label
                          for="nom"
                          class="col-md-4 col-lg-3 col-form-label"
                          >Nom</label
                        >
                        <div class="col-md-8 col-lg-9">
                          <input
                            name="nom"
                            type="text"
                            class="form-control"
                            id="nom"
                            value="<%= user.nom %>"
                          />
                        </div>
                      </div>

                      <div class="row mb-3">
                        <label
                          for="prenom"
                          class="col-md-4 col-lg-3 col-form-label"
                          >Prenom</label
                        >
                        <div class="col-md-8 col-lg-9">
                          <input
                            name="prenom"
                            type="text"
                            class="form-control"
                            id="prenom"
                            value="<%= user.prenom %>"
                          />
                        </div>
                      </div>

                      <div class="row mb-3">
                        <label
                          for="pays"
                          class="col-md-4 col-lg-3 col-form-label"
                          >Pays</label
                        >
                        <div class="col-md-8 col-lg-9">
                          <input
                            name="country"
                            type="text"
                            class="form-control"
                            id="Country"
                            value="<%= user.country %>"
                          />
                        </div>
                      </div>

                      <div class="row mb-3">
                        <label
                          for="Address"
                          class="col-md-4 col-lg-3 col-form-label"
                          >Address</label
                        >
                        <div class="col-md-8 col-lg-9">
                          <input
                            name="address"
                            type="text"
                            class="form-control"
                            id="Address"
                            value="<%= user.address %>"
                          />
                        </div>
                      </div>

                      <div class="row mb-3">
                        <label
                          for="Phone"
                          class="col-md-4 col-lg-3 col-form-label"
                          >Phone</label
                        >
                        <div class="col-md-8 col-lg-9">
                          <input
                            name="phone"
                            type="text"
                            class="form-control"
                            id="Phone"
                            value="<%= user.phone %>"
                          />
                        </div>
                      </div>

                      <div class="row mb-3">
                        <label
                          for="Email"
                          class="col-md-4 col-lg-3 col-form-label"
                          >Email</label
                        >
                        <div class="col-md-8 col-lg-9">
                          <input
                            name="email"
                            type="email"
                            class="form-control"
                            id="Email"
                            value="<%= user.email %>"
                          />
                        </div>
                      </div>

                      <div class="row mb-3">
                        <label
                          for="Twitter"
                          class="col-md-4 col-lg-3 col-form-label"
                          >Twitter Profile</label
                        >
                        <div class="col-md-8 col-lg-9">
                          <input
                            name="twitter"
                            type="text"
                            class="form-control"
                            id="Twitter"
                            value="<%= user.twitter %>"
                          />
                        </div>
                      </div>

                      <div class="row mb-3">
                        <label
                          for="Facebook"
                          class="col-md-4 col-lg-3 col-form-label"
                          >Facebook Profile</label
                        >
                        <div class="col-md-8 col-lg-9">
                          <input
                            name="facebook"
                            type="text"
                            class="form-control"
                            id="Facebook"
                            value="<%= user.facebook %>"
                          />
                        </div>
                      </div>

                      <div class="row mb-3">
                        <label
                          for="Instagram"
                          class="col-md-4 col-lg-3 col-form-label"
                          >Instagram Profile</label
                        >
                        <div class="col-md-8 col-lg-9">
                          <input
                            name="instagram"
                            type="text"
                            class="form-control"
                            id="Instagram"
                            value="<%= user.instagram %>"
                          />
                        </div>
                      </div>

                      <div class="row mb-3">
                        <label
                          for="Linkedin"
                          class="col-md-4 col-lg-3 col-form-label"
                          >Linkedin Profile</label
                        >
                        <div class="col-md-8 col-lg-9">
                          <input
                            name="linkedin"
                            type="text"
                            class="form-control"
                            id="Linkedin"
                            value="<%= user.linkedin %>"
                          />
                        </div>
                      </div>

                      <div class="text-center">
                        <input type="hidden" name="id" value="<%= user.id %>" />
                        <button type="submit" class="btn btn-primary">
                          Save Changes
                        </button>
                      </div>
                    </form>
                    <!-- End Profile Edit Form -->
                  </div>

                  <div class="tab-pane fade pt-3" id="profile-change-password">
                    <!-- Change Password Form -->
                    <form action="/updatepassword" method="post">
                      <div class="row mb-3">
                        <label
                          for="currentPassword"
                          class="col-md-4 col-lg-3 col-form-label"
                          >Current Password</label
                        >
                        <div class="col-md-8 col-lg-9">
                          <input
                            name="password"
                            type="password"
                            class="form-control"
                            id="currentPassword"
                          />
                        </div>
                      </div>

                      <div class="row mb-3">
                        <label
                          for="newPassword"
                          class="col-md-4 col-lg-3 col-form-label"
                          >New Password</label
                        >
                        <div class="col-md-8 col-lg-9">
                          <input
                            name="newpassword"
                            type="password"
                            class="form-control"
                            id="newPassword"
                          />
                        </div>
                      </div>

                      <div class="row mb-3">
                        <label
                          for="renewPassword"
                          class="col-md-4 col-lg-3 col-form-label"
                          >Re-enter New Password</label
                        >
                        <div class="col-md-8 col-lg-9">
                          <input
                            name="renewpassword"
                            type="password"
                            class="form-control"
                            id="renewPassword"
                          />
                        </div>
                      </div>

                      <div class="text-center">
                        <input type="hidden" name="id" value="<%= user.id %>" />
                        <button type="submit" class="btn btn-primary">
                          Change Password
                        </button>
                      </div>
                    </form>
                    <!-- End Change Password Form -->
                  </div>
                </div>
                <!-- End Bordered Tabs -->
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <%- include ('./component/footerDashboardComponent') %>
    <!-- End Footer -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/chart.js/chart.umd.js"></script>
    <script src="assets/vendor/echarts/echarts.min.js"></script>
    <script src="assets/vendor/quill/quill.min.js"></script>
    <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>
    <script>
      const userProfile = document.querySelector(".user-profile");
      const userInput = document.querySelector(".userProfileInput");
      console.log(userProfile.getAttribute("src"));
      // userInput.addEventListener("change", () => {
      //   console.log("userProfile input", userInput.value);
      //   userProfile.setAttribute("src", userInput.value)
      // });
    </script>
  </body>
</html>
